p:nth-of-type(3){
    color: green;
}

.yellow{
    color: yellow;
}

#greycol{
    color: grey;
}

div p:nth-child(1) {
    color: red;
}

/* TASK 2 */

.container{
    display: flex;
    background-color:rgb(255, 219, 175);
}

.container-wrap{
    border: 3px solid blue;
    border-bottom: none;
    border-top: none;
    padding: 20px;
    text-align: center;
}

.container-item{
    line-height: 150%;
}

.container-item:hover{
    background-color: aquamarine;
    padding: 0px 5px;
}

ul{
    list-style: none;
}